#adminmenu {
  .awaiting-mod, .update-plugins {
    background-color: #000 !important;
  }

  .wp-has-current-submenu .wp-submenu .wp-submenu-head {
    background-color: #32c14e !important;
    background-image: -webkit-gradient(linear, left top, right top, from(#30a984), color-stop(80%, #00fa9a), to(#84fab0));
    background-image: -o-linear-gradient(left, #30a984 0%, #00fa9a 80%, #84fab0 100%);
    background-image: linear-gradient(to right, #30a984 0%, #00fa9a 80%, #84fab0 100%);
  }

  .wp-menu-arrow {
    background-color: #32c14e !important;
    background-image: -webkit-gradient(linear, left top, right top, from(#30a984), color-stop(80%, #00fa9a), to(#84fab0));
    background-image: -o-linear-gradient(left, #30a984 0%, #00fa9a 80%, #84fab0 100%);
    background-image: linear-gradient(to right, #30a984 0%, #00fa9a 80%, #84fab0 100%);

    div {
      background-color: #32c14e !important;
      background-image: -webkit-gradient(linear, left top, right top, from(#30a984), color-stop(80%, #00fa9a), to(#84fab0));
      background-image: -o-linear-gradient(left, #30a984 0%, #00fa9a 80%, #84fab0 100%);
      background-image: linear-gradient(to right, #30a984 0%, #00fa9a 80%, #84fab0 100%);
    }
  }

  li {
    &.current a.menu-top, &.wp-has-current-submenu a.wp-has-current-submenu {
      background-color: #32c14e !important;
      background-image: -webkit-gradient(linear, left top, right top, from(#30a984), color-stop(80%, #00fa9a), to(#84fab0));
      background-image: -o-linear-gradient(left, #30a984 0%, #00fa9a 80%, #84fab0 100%);
      background-image: linear-gradient(to right, #30a984 0%, #00fa9a 80%, #84fab0 100%);
    }
  }
}

.folded #adminmenu li {
  &.current.menu-top, &.wp-has-current-submenu {
    background-color: #32c14e !important;
    background-image: -webkit-gradient(linear, left top, right top, from(#30a984), color-stop(80%, #00fa9a), to(#84fab0));
    background-image: -o-linear-gradient(left, #30a984 0%, #00fa9a 80%, #84fab0 100%);
    background-image: linear-gradient(to right, #30a984 0%, #00fa9a 80%, #84fab0 100%);
  }
}

#adminmenu {
  li {
    &.menu-top:hover, &.opensub > a.menu-top, > a.menu-top:focus {
      color: #32c14e !important;
    }
  }

  .wp-submenu a {
    &:focus, &:hover {
      color: #32c14e !important;
    }
  }

  a:hover {
    color: #32c14e !important;
  }

  li {
    &.menu-top > a:focus, a:focus div.wp-menu-image:before, &.opensub div.wp-menu-image:before, &:hover div.wp-menu-image:before {
      color: #32c14e !important;
    }
  }
}

#back_to_top, #scroll_to_bottom {
  background-color: #32c14e !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#30a984), color-stop(80%, #00fa9a), to(#84fab0));
  background-image: -o-linear-gradient(left, #30a984 0%, #00fa9a 80%, #84fab0 100%);
  background-image: linear-gradient(to right, #30a984 0%, #00fa9a 80%, #84fab0 100%);
  border-radius: 2px;
  bottom: 80px;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  line-height: 26px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 30px;
  z-index: 9999;
}

#back_to_top:hover {
  background: #23282d;
}

#scroll_to_bottom {
  &:hover {
    background: #23282d;
  }

  bottom: 50px !important;
  display: block;
}

#wpadminbar {
  .ab-top-menu > li.hover > .ab-item, &.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
    background-color: #32c14e !important;
    background-image: -webkit-gradient(linear, left top, right top, from(#30a984), color-stop(80%, #00fa9a), to(#84fab0));
    background-image: -o-linear-gradient(left, #30a984 0%, #00fa9a 80%, #84fab0 100%);
    background-image: linear-gradient(to right, #30a984 0%, #00fa9a 80%, #84fab0 100%);
    color: #fff !important;
  }

  &:not(.mobile) .ab-top-menu > li {
    &:hover > .ab-item, > .ab-item:focus {
      background-color: #32c14e !important;
      background-image: -webkit-gradient(linear, left top, right top, from(#30a984), color-stop(80%, #00fa9a), to(#84fab0));
      background-image: -o-linear-gradient(left, #30a984 0%, #00fa9a 80%, #84fab0 100%);
      background-image: linear-gradient(to right, #30a984 0%, #00fa9a 80%, #84fab0 100%);
      color: #fff !important;
    }
  }

  .quicklinks {
    .ab-sub-wrapper .menupop.hover > a {
      color: #fff !important;
    }

    .menupop {
      ul li a {
        &:focus, &:hover, &:focus strong, &:hover strong {
          color: #fff !important;
        }
      }

      &.hover ul li {
        a {
          &:focus, &:hover {
            color: #fff !important;
          }
        }

        div[tabindex] {
          &:focus, &:hover {
            color: #fff !important;
          }
        }
      }
    }
  }

  li {
    #adminbarsearch.adminbar-focused:before {
      color: #fff !important;
    }

    .ab-item:focus {
      .ab-icon:before, &:before {
        color: #fff !important;
      }
    }

    a:focus .ab-icon:before {
      color: #fff !important;
    }

    &.hover {
      .ab-icon:before, .ab-item:before {
        color: #fff !important;
      }
    }

    &:hover {
      #adminbarsearch:before, .ab-icon:before, .ab-item:before {
        color: #fff !important;
      }
    }
  }

  &.nojs .quicklinks .menupop:hover ul li a {
    &:focus, &:hover {
      color: #fff !important;
    }
  }
}

#adminmenu {
  li.wp-has-current-submenu a.wp-has-current-submenu, .current div.wp-menu-image:before, .wp-has-current-submenu div.wp-menu-image:before {
    color: #fff !important;
  }

  a {
    &.current:hover div.wp-menu-image:before, &.wp-has-current-submenu:hover div.wp-menu-image:before {
      color: #fff !important;
    }
  }

  li.wp-has-current-submenu {
    a:focus div.wp-menu-image:before, &.opensub div.wp-menu-image:before, &:hover div.wp-menu-image:before {
      color: #fff !important;
    }
  }
}

#wpadminbar {
  background: #000;
}

#adminmenu {
  background: #000;

  .wp-submenu {
    background: #000;
  }
}

#adminmenuback, #adminmenuwrap {
  background: #000;
}

.back_to_top-show {
  display: block !important;
}

.wp-core-ui {
  .button-primary {
    -o-transition: .5s;
    -webkit-box-shadow: 0 4px 10px rgba(61, 75, 69, 0.09);
    -webkit-transition: .5s;
    background-color: #32c14e !important;
    background-image: -webkit-gradient(linear, left top, right top, from(#30a984), color-stop(80%, #00fa9a), to(#84fab0));
    background-image: -o-linear-gradient(left, #30a984 0%, #00fa9a 80%, #84fab0 100%);
    background-image: linear-gradient(to right, #30a984 0%, #00fa9a 80%, #84fab0 100%);
    background-size: 200% auto;
    border-color: transparent !important;
    box-shadow: 0 4px 10px rgba(61, 75, 69, 0.09);
    transition: 0.5s;

    &.focus, &.hover, &:focus, &:hover {
      background-position: right center;
      text-decoration: none;
    }
  }

  .notice.is-dismissible {
    display: none !important;
  }
}

a .scroll_to_bottom-show {
  display: none !important;
}

.wp-media-buttons .insert-media {
  margin-bottom: 0;
}

div {
  &#wp-content-editor-tools {
    background: #fff !important;
    border: 1px solid #e5e5e5;
    max-width: 98.8%;
    padding-right: 15px;
  }

  &#wp-content-media-buttons {
    margin-left: 15px;
  }
}